/* tamanho da fonte dos componentes do primefaces */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
    overflow-x: hidden;
}


html, body, .ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea,
	.ui-widget button {
	font-size: 14px !important;
	font-family: 'Montserrat', 'Lato', 'Varela Round', 'Play',
		'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif;
}

#body, #content {
	display: flex;
	flex-direction: inherit;
}

#container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#content {
	margin: 1rem 2rem;
}

#nav, #footer, form {
	width: 100%;
}

form {
	height: 100%;
}

h1, legend {
	text-transform: uppercase;
}

/* --------------------- Sobrecarga sobre o Primefaces --------------------- */
.ui-datatable-tablewrapper {
	overflow: hidden !important;
	width: 100% !important;
}

.ui-calendar input[type="text"] {
	width: calc(100% - 40px) !important;
	margin-right: 5px;
}

.ui-panelgrid .ui-panelgrid-cell {
	border: 1px solid transparent !important;
	/* 	border: 1px solid #fc9 !important; */
	/* 	padding: 0 !important; */
	background: transparent !important;
}

.ui-datatable-header {
	font-size: 1.5em;
}

.ui-datatable-footer {
	text-align: left !important;
}

#content input[type="button" i], #content input[type="submit" i], input[type="reset"
	i], input[type="file" i]::-webkit-file-upload-button {
	padding: .3em 1em;
	margin-right: 1em;
	display: inline-block;
	cursor: pointer;
	/* 	border: 1px solid #cbc3be; */
	/* 	margin: .5em 1em; */
}

input[type="text"], .ui-widget textarea, .ui-selectonemenu {
	width: 100% !important;
}
/* .ui-widget button, */ /* seleciona varios inputs */
/* .ui-selectonemenu, .ui-widget select,  */
input[type="text"], .ui-widget textarea, .ui-selectonemenu label.ui-selectonemenu-label
	{
	padding: .5rem;
	margin: .25rem 0 0;
}

.ui-widget button, .ui-button {
	padding: .2rem !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
	margin-top: 0.5rem !important;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
	width: 2rem !important;
	padding: 0 .5rem !important;
}

.ui-corner-all {
	-moz-border-radius: 0.2rem;
	-webkit-border-radius: 0.2rem;
	border-radius: 0.2rem;
}

.ui-widget select {
	border-radius: .2rem 0 0 .2rem;
}

.ui-selectonemenu label.ui-selectonemenu-label {
	margin: 0;
}

input[type="radio"] {
	margin: 1rem .2rem 1rem 2rem !important;
}

.form-messages {
	display: flex !important;
	align-items: flex-end !important;
}

.form-messages i, .form-messages a {
	padding-bottom: .75rem;
}

.ui-messages-error, .ui-message-error {
	padding: .5rem !important;
	width: 100%;
}

.fa {
	margin-right: 5px;
}

/* --------------------- Elementos dos Formularios --------------------- */
#content fieldset {
	margin: 1em 0 1em 0;
}

/* --------------------- Elementos das Tabelas --------------------- */
#content table {
	border-collapse: collapse;
	background: transparent;
	table-layout: auto;
}

#content table tr {
	background: transparent;
}

/* --------------------- Elementos do #menu --------------------- */
#menu{
	border-top: 0;
    border-left: 0;
    border-bottom: 0;
}

/* --------------------- Elementos do #header --------------------- */
#header{
	border-right: 0;
    border-left: 0;
    border-top: 0;
}

#header a {
	text-decoration: none
}

#header h1 {
	font-size: 4em;
	margin: 0 .1em;
	text-shadow: 4px 0px 0px #000;
	transition: all 1s linear;
	transform: skewX(-10deg);
	font-weight: 700;
	border:none;
	background: transparent;
}

#img-logo {
	/* 		transition: all 1s linear; */
	/* 		transform: rotate(30deg) scale(1); */
	
}

/* --------------------- Elementos da #nav --------------------- */

/* --------------------- Elementos do #footer --------------------- */
#footer {
	text-align: center;
	margin: auto auto 0 auto;
	border-right: 0;
    border-left: 0;
    border-bottom: 0;
}

#rodape {
	padding: 1rem .5rem;
}

/* --------------------- Elementos do #content --------------------- */
#content .titulo {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.filtros-consultar {
	width: 100%;
	display: flex;
	align-items: flex-end;
}

.botoes {
	display: flex;
	justify-content: space-evenly;
}

.botoes-cadastrar {
	display: flex;
	justify-content: center;
}

.botoes-cadastrar button {
	margin-left: 4rem;
}

/* --------------------- Elementos dos dialog --------------------- */
.dialog{
    margin: 0;
    border:0;
}

.ui-dialog{
left: calc(50% - (500px / 2)) !important;
    top: calc(50vh - 250px) !important;
}